@import "./default.less";

#root {
  background-color: @gray-2;
  min-height: 100vh;
}

header {
  height: @layout-header-height;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0 @padding-lg;

  & > *,
  & > .ant-radio-group {
    margin-right: @padding-md;
  }
}

main {
  max-width: 720px;
  margin: 0 auto;

  & > * {
    margin-left: @padding-lg;
    margin-right: @padding-lg;
  }
}
